extends layout

block content
  h1= title
  p This is my Second Heroku server
  button(type="button", class="btn btn-success", onClick = "update()") Press Me
  
  p
  div(id="target") Display

  script.
    var client_count = 0;

    function update(){
      client_count = client_count + 1;
      console.log(client_count);
      document.getElementById("target").innerHTML = "Value now " + client_count;
    }
  
  a(href="trees") Go to Trees page